.logo {
  width: 14px;
  height: 32px;
  display: inline-block;
  &__inner {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 2px;
      background-color: #000;
      border-radius: 50%;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      border: 7px solid transparent;
      border-bottom: 25px solid #000;
    }
  }
}
