@import 'styles/variables/colors';

.detail {
  padding: 8px;
  //border: 1px solid rgba($input-border, 0.1);
  border-radius: 2px;
  &__inner {
  }
  &__item {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
