$font: #333333;
$bg: #daffcd;
//#e2fff1
$input-border: #becabb;
$input-border-focus: #7d807c;

$separator-border: #dfe0df;
$dashboard: #6c4c24;

$main: #4eab36;
$shadow: #628259;

$list-bg: #6a8c5b;

$tag-bg: #658c51;
$tag-light-bg: #cad2e4;
//$tag-color: #4e4e4e;
$font-light: #949494;
$font-size: 13px;

$item-border: #738470;
$item-hover: #f4f9f1;
$text-bg: #e6e6e6;

$item-width: 300px;
