@import 'colors';

@mixin border {
  border: 1px solid white;
  box-shadow: 0 0 1px 0 rgba($input-border, 0.7),
    inset 0 0 3px -1px $input-border;
}
@mixin border-hover {
  //border: 1px solid white;
  box-shadow: 0 0 1px 0 rgba($input-border, 0.8),
    inset 0 0 5px -1px rgba($input-border, 0.6);
}
